.spanBlock {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 24px;
}

.span {
	font-size: 16px;
	font-weight: 500;
	color: #0080FF;
}

.input {
	max-width: 276px;
	padding: 8px 24px;
	margin-bottom: 24px;
	font-size: 16px;
	font-weight: 500;
}

.pen {
	width: 24px;
}
